@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--background);
  font-family: var(--font-poppins);
  overflow-x: hidden;
}
